<html >
    <head>
        <meta charset="utf-8">
        <title>Angular Overcloud</title>
        <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">

        <script src="//unpkg.com/angular@1.5/angular.js"></script>
        <script src="//unpkg.com/angular-ui-router@1.0.0-beta.3/release/angular-ui-router.js"></script>

        <script src="https://cdn.rawgit.com/auth0/angular-jwt/a91b3c4d8e438026b55715ddcb3d2e68e3bdc2b8/dist/angular-jwt.min.js" ></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
        <script src="bootstrap-3.3.7-dist//js/bootstrap.min.js"></script>

        <script src="js/app.js"></script>

    </head>
    <body ng-app="App">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">MENU</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MENU</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li>
                        <a ng-href="#home" >Home</a>
                    </li>
                    <li>
                        <a ng-href="#login" ng-if="!getUser()">Log in</a>
                    </li>
                    <li>
                        <a ng-href="#register" ng-if="!getUser()">Register</a>
                    </li>
                    <li>
                        <a ng-href="#logout" ng-if="getUser()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-success"  ng-if="getUser()">
            Hi,  {{getUser().name}}
        </div>
        <div  class="alert alert-warning" ng-if="!getUser()">
            Hi, Guest
        </div>


    <ui-view></ui-view>
</body>
</html>
