
<div class="container main-content" ng-controller="mainController" >

    <div class="col-md-8" >
        <div class="form-group">
            <input type="text" name="limit" ng-model="query.limit" /> 
        </div>
        <div class="panel panel-info" ng-repeat="val in posts">
            <div class="panel-heading">
                <h3 class="panel-title panel-left">{{val.title}}</h3>

            </div>
            <div class="panel-body">
                {{val.text}}
                <br/><br/>
                Info:
                <ul>
                    <li><span class="author">Author: {{val.user.name}}</span></li>
                    <li><span class="author">Created At: {{val.created_at | date : 'yyyy-MM-dd HH:mm:ss' }}</span></li>

                </ul>
               
            </div>

            <div class="panel-footer" ng-if="val.user._id == getUser()._id">
                
                <a href="#ff" ng-click="selectPost(val)">EDIT<a> 
                <a style="margin-left: 30px; cursor: pointer" ng-click="deletePost(val)">DELETE</a>
            </div>
        </div>
    </div>
    <div class="col-md-2" >
        <div id="post-panel" ng-if="getUser()">
        <h5 ng-show="post.info">
            {{post.info}}
        </h5>
        <h3>{{post.header}}</h3>
        <div class="errors">
            <ul>
                <li ng-repeat="err in errors">
                    {{err}}
                </li>
            </ul>
        </div>
        <form name="ff" id="ff" role="form" style="display: block;" novalidate>
            <div class="form-group">
                <input type="text" 
                       required ng-model="post.params.title"
                       ng-trim="1"
                       name="title" id="title" tabindex="1" class="form-control" placeholder="Title" value="">
            </div>
            <div class="form-group">
                <textarea
                    required ng-model="post.params.text"
                    ng-trim="1"
                    name="text" id="text" tabindex="1" class="form-control" placeholder="Text" value="">
                </textarea>
            </div>
            <div class="form-group">
                <input type="submit" name="login-submit" 
                    ng-disabled="ff.$invalid || isLoading"
                    ng-click="savePost()"
                    id="login-submit" tabindex="4" class="form-control btn btn-login" value="SAVE">
            </div>
        </form>
        </div>
    </div>

</div>