<div class="container" ng-controller="loginController">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            LOGIN
                        </div>

                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="errors">
                                <ul>
                                    <li ng-repeat="err in errors">
                                        {{err}}
                                    </li>
                                </ul>
                            </div>
                            <form name="login" role="form" style="display: block;" novalidate>
                                <div class="form-group">
                                    <input type="text" 
                                           required ng-model="name"
                                           name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password"
                                           required ng-model="password"
                                           id="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                   
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" 
                                                  ng-disabled="login.$invalid || isLoading"
                                                   ng-click="submit()"
                                                   id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                              
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>