<div class="container" ng-controller="registerController">
 <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            REGISTER
                        </div>

                    </div>
                    <hr>
                </div>
                <div class="panel-body" ng-show="info">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>{{info}}</h1>  
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-hide="info">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="errors">
                                <ul>
                                    <li ng-repeat="err in errors">
                                        {{err}}
                                    </li>
                                </ul>
                            </div>
                            <form class="form-register" method="post" name="register" novalidate>
                                <div class="form-group">
                                    <input type="text" name="username" ng-model="username" id="username"
                                           required ng-maxlength="20" ng-minlength="3" tabindex="1" class="form-control" placeholder="Username" value="">
                                      <span ng-show="!register.username.$valid" class="help-block">Username  - reqiured , min=3, max=20</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" ng-model="password" id="password"
                                           required ng-maxlength="20" ng-minlength="3"
                                           tabindex="2" class="form-control" placeholder="Password">
                                      <span ng-show="!register.password.$valid" class="help-block">
                                          Password  - reqiured , min=3, max=20, same=Confirm password</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm_password" 
                                           required ng-maxlength="20" ng-minlength="3" compare-to="password"
                                           ng-model="confirm_password" id="confirm-password"
                                           tabindex="2" class="form-control" placeholder="Confirm Password">
                                      <span ng-show="!register.confirm_password.$valid" class="help-block">
                                          Confirm Password  - reqiured , min=3, max=20, same=password</span>
                                </div>
                                <div class="form-group">
                                    <div class="row">
<!--                                        {{register}}-->
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit"
                                                   ng-disabled="register.$invalid || isLoading"
                                                   ng-click="submit()"
                                                   tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>